<div class="container-login">
  <h2>新規登録</h2>
  <br>
  <%= form_for(@user) do |f| %>
    <div class="form-group">
      <p><%= f.label :name, '名前' %></p>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <p><%= f.label :email, 'メールアドレス' %></p>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <p><%= f.label :password, 'パスワード' %></p>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <p><%= f.label :password_confirmation, 'パスワード（もう１度ご入力ください）' %></p>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <br>
     <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
  <% end %>
    <br>
</div>
