<% if user_signed_in? %>
  <% unless park.like_user(current_user.id).blank? %>
    <%= link_to park_like_path(park_id: park.id ,id: park.likes[0].id), method: :delete, remote: true do %>
      <div class="vertical_like">
        <i class="material-icons red-text">favorite</i>
          <span class="red-text">
            <%= park.like_users.count %>
          </span>
      </div>
   <% end %>
<% else %>
  <%= link_to park_likes_path(park.id), method: :park, remote: true do %>
    <div class="vertical_like">
      <i class="material-icons grey-text text-darken-2">favorite_border</i>
        <span class="grey-text text-darken-2">
          <%= park.like_users.count %>
        </span>
    </div>
  <% end %>
<% end %>

<% else %>

  <% if park.likes_count %>
    <div class="vertical_like">
      <i class="material-icons red-text">favorite</i>
        <span class="red-text">
          <%= park.likes_count %>
        </span>
    </div>
  <% else %>
    <div class="vertical_like">
      <i class="material-icons grey-text text-darken-2">favorite_border</i>
        <span class="grey-text text-darken-2">
          <%= park.likes_count %>
        </span>
    </div>
  <% end %>

<% end %>
