<div class="user-show">
  <div class="user-show-image">
    <%= image_tag @user.image_name.to_s %>
  </div>
  <div class="user-content">
  <h3><%= @user.name %></h3>
  <% if current_user.id ==  @user.id %>
    <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-info" %>
  <% end %>
  </div>
  <br>

  <ul class="user-tabs">
    <li><%= link_to("レビューした公園", "/users/#{@user.id}") %></li>
    <li class="active"><%= link_to("「いいね！」した公園", "/users/#{@user.id}/likes") %></li>
  </ul>
  <div class="posts-index-item">
    <% @likes.each do |like| %>
    <% post = Post.find_by(id: like.post_id) %>

        <div class="post-user-image">
          <%= image_tag post.image.to_s %>
        </div>
        <div class="post-user-name">
          <%= link_to(post.park, "/posts/#{post.id}") %>
        </div>
      <% end %>
      <br>
      <hr>
      <br>
        <div class="show-index">
          <a class="btn btn-outline-info" href="/posts" role="button">公園一覧へ</a>
        </div>
      <br>
    </div>
