<div class="user-show">
  <div class="user-show-image">
    <%= image_tag @user.image_name.to_s %>
  </div>
  <div class="user-content">
    <h3><%= @user.name %></h3>
      <p><%= @user.email %></p>
        <% if current_user.id ==  @user.id %>
          <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-info" %>
        <% end %>
  </div>

  <ul class="user-tabs">
    <li class="active"><%= link_to("「レビュー」した公園", "/users/#{@user.id}") %></li>
    <li><%= link_to("「いいね！」した公園", "/users/#{@user.id}/likes") %></li>
  </ul>

  <% @user.comments.each do |comment| %>
    <div class="posts-index-item">
      <div class="post-user-image">
        <%= image_tag comment.post.image.to_s %>
      </div>
      <div class="post-user-name">
        <%= link_to(comment.post.park, "/posts/#{comment.post.id}") %>
      </div>
      <div class="post-ruser-comment">
        <%= comment.comment %>
      </div>
    </div>
  <% end %>

</div>

<br>
<hr>
<br>

<div class="show-index">
  <a class="btn btn-outline-info" href="/posts" role="button">公園一覧へ</a>
</div>
<br>
