<header>
  <h1 class="logo">
    <%= link_to "Little Park", root_path %>
  </h1>
  <ul class="header-menus">
    <% if user_signed_in? %>
      <li>
        <%= link_to "公園一覧", root_path %>
      </li>
      <li>
        <%= link_to("ユーザー一覧", "/users") %>
      </li>
      <li>
        <%= link_to "マイページへ", user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      </li>
     <% else %>
       <li>
         <%= link_to "公園一覧", root_path %>
       </li>
       <li>
            <%= link_to("ユーザー一覧", "/users") %>
       </li>
       <li>
         <%= link_to "新規登録", new_user_registration_path %>
       </li>
       <li>
         <%= link_to "ログイン", new_user_session_path %>
       </li>
    <% end %>
  </ul>
</header>
