<%= render 'shared/flash_messages' %>

<div class="container">
            <div class="row">
            	<% @posts.each do |post| %>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <%= link_to("/posts/#{post.id}") do %>
                    <div class="main-contents">
                        <div class="main-image">
                            <%= image_tag post.image_url(:thumb) if post.image.present? %>
                        </div>
                        <div class="content-wrapper">
                            <div class="park">
                                <p><%= link_to(post.park,"/posts/#{post.id}") %></p>
                                <p><%= post.access %></p>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <% end %>
            </div>
