<%= render 'shared/flash_messages' %>
<%= render "shared/search_park" %>
<%= render "shared/modal" %>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <%= link_to("/posts/#{post.id}") do %>
        <div class="main-contents">
          <div class="main-image">
            <%= image_tag post.image_url(:thumb) if post.image.present? %>
          </div>

          <div class="content-wrapper">
            <div class="park">
              <p><%= link_to(post.park,"/posts/#{post.id}") %></p>
              <p><%= post.access %></p>
              <%= raw(post.tag_list.map { |t| link_to t, tag_path(t) }.join(' ')) %>
            </div>
          </div>

          <div class="posts-mark">
            <div id="likes_buttons_<%= post.id %>">
              <%= render partial: 'likes/like', locals: { post: post, likes: @likes} %>
            </div>
            <div class="comment-list">
              <%= link_to("/posts/#{post.id}") do %>
    　        <span class="fa fa-comment-o fa-lg" aria-hidden="true"></span>
              <% end %>
                <span class="comment-count">
                  <%= post.comments.count %>
                </span>
            </div>
          </div>

        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
