<%= render 'shared/flash_messages' %>
 <br>
 <%= render "shared/search_park" %>

<div class="my-map">
  <iframe src="https://www.google.com/maps/d/embed?mid=19AFTeknmIahUpgetKNOFbHfPjDuoeEoV" width="800" height="480"></iframe>
</div>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= link_to("/posts/#{post.id}") do %>
        <div class="main-contents">
          <div class="main-image">
            <%= image_tag post.image_url(:thumb) if post.image.present? %>
          </div>

          <div class="content-wrapper">
            <div class="park">
              <p><%= link_to(post.park,"/posts/#{post.id}") %></p>
              <p><%= post.access %></p>
              <%= render_with_hashtags(post.hashbody) %>
            </div>
          </div>


          <div class="posts-mark">
            <div id="likes_buttons_<%= post.id %>">
              <%= render partial: 'likes/like', locals: { post: post, likes: @likes} %>
            </div>
          </div>


        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
