<div class="post-show">
  <div class="show-park">
    <p><i class="fa fa-leaf" aria-hidden="true"></i> <%= @post.park %></p>
  </div>
  <div class="tag-list">
    <%= raw(@post.tag_list.map { |t| link_to t, tag_path(t) }.join(' ')) %>
  </div>
  <br>
  <div class="post-show-image">
    <%= image_tag @post.image_url(:thumb) if @post.image.present? %>
  </div>
  <br>
  <div class="show-outline">
    <p><%= @post.outline %></p>
  </div>
  <div class="show-locate">
    <p><i class="fa fa-map-marker"></i> 所在地</p>
    <p><%= @post.location %></p>
  </div>
  <div class="show-access">
    <p><i class="fa fa-train"> </i> アクセス</p>
    <p><%= @post.access %></p>
  </div>
  <div class="map-show">
    <p><i class="fa fa-map" aria-hidden="true"> </i> 公園の地図</p>
    <iframe
       src="https://maps.google.co.jp/maps?output=embed&q=<%= @post.location %>&t=m&z=15"
       width="100%"
       height="auto"
       frameborder="0"
       style="border:0"
       allowfullscreen
     >
   </iframe>
   </div>
   <br>
   <br>
   <div class="posts-mark">
   <div id="likes_buttons_<%= @post.id %>">
      <%= render partial: 'likes/like', locals: { post: @post, likes: @likes} %>
   </div>
  </div>

  <br>

   <div class="row-actions" id="comment-form-post-<%= @post.id.to_s %>">
     <%= form_with model: [@post, Comment.new], class: "w-100" do |f| %>
       <%= f.hidden_field :user_id, value: current_user.id %>
       <%= f.hidden_field :post_id, value: @post.id %>
       <%= f.text_field :comment, class: "form-control comment-input border-0", placeholder: "レビューする ...", autocomplete: :off %>
     <% end %>
   </div>

   <ul class="user-tabs">
     <li class="active"><%= link_to("「レビュー」したユーザー", "/posts/#{@post.id}") %></li>
     <li><%= link_to("「いいね！」したユーザー", "/posts/#{@post.id}/likes") %></li>
   </ul>
   <br>
   <div id="comment-post-<%= @post.id.to_s %>">
     <%= render 'comment_list', { post: @post } %>
   </div>

   <br>
   <hr>
   <br>
    <div class="ml-auto posts_button">
      <a class="btn btn-outline-info" href="/posts" role="button">公園一覧へ</a>
    </div>

</div>
