<div class="post-show">

  <div class="show-park">
    <p><%= @post.park %></p>
  </div>
  <div class="post-show-image">
    <%= image_tag @post.image_url(:thumb) if @post.image.present? %>
  </div>

  <div class="show-outline">
    <p><%= @post.outline %></p>
  </div>
  <div class="show-locate">
    <p>所在地</p>
    <p><%= @post.location %></p>
  </div>
  <div class="show-access">
      <p>アクセス</p>
      <p><%= @post.access %></p>
  </div>

  <p>公園の場所</p>
     <input id="address" type="textbox" value="<%= @post.location %>">
     <input type="button" value="クリックして地図で見る" onclick="codeAddress()">
     <div id='map'></div>
     <style>
       #map {
       margin-left: 55px;
       height: 300px;
       width: 450px;
      }
     </style>
     <script>
     let map
     function initMap(){
         geocoder = new google.maps.Geocoder()
         map = new google.maps.Map(document.getElementById('map'), {
             zoom: 12,
         });
         marker = new google.maps.Marker({
             map: map
         });
     }
     let geocoder
     function codeAddress(){
       let inputAddress = document.getElementById('address').value;
       geocoder.geocode( { 'address': inputAddress}, function(results, status) {
             if (status == 'OK') {
                 map.setCenter(results[0].geometry.location);
                 var marker = new google.maps.Marker({
                     map: map,
                     position: results[0].geometry.location
                 });
             } else {
                 alert('該当する結果がありませんでした：' + status);
             }
         });
     }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtWJ1SNDv5ihQnErxLwbgiHyflWaUvX34&callback=initMap"></script>
  <br>
  <div class="posts-mark">
    <div id="likes_buttons_<%= @post.id %>">
      <%= render partial: 'likes/like', locals: { post: @post, likes: @likes} %>
    </div>
  </div>
  <br>
  <div class="row actions" id="comment-form-post-<%= @post.id.to_s %>">
    <%= form_with model: [@post, Comment.new], class: "w-100" do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.text_field :comment, class: "form-control comment-input border-0", placeholder: "レビューする ...", autocomplete: :off %>
    <% end %>
  </div>
  <div id="comment-post-<%= @post.id.to_s %>">
    <%= render 'comment_list', { post: @post } %>
  </div>

  <hr>


   <br>
   <div class="ml-auto posts_button">
     <a class="btn btn-outline-info" href="/posts" role="button">公園一覧へ</a>
   </div>

</div>
